* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 1px solid #bbb;
}

/* styles for the a tag */
nav > a {
    text-decoration: none;
    color: #000;
}

/* styles for the logo */
nav > a #logo {
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: -2.5px;
    position: relative;
}

nav #logo::before{
    content: "";
    background-color: #7fe2e2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: 3px;
}

nav #logo::after{
    content: "";
    background-color: #7fe2e2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: -19px;
    top: -9px;
}

nav  a #logo span {
    font-weight: 700;
}

/* for the nav links */

nav ul {
    margin-left: auto;
}
nav ul li {
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

/* for the nav download button */
nav #download-btn {
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    margin: 0px 10px;
}

/* styles for the main */
main {
    display: flex;
}

main .left {
    margin-left: 15%;
    margin-top: 11%;
}

main .code {
    font-size: 7pt;
    color: #ddd;
    font-weight: 600;
    margin-bottom: 10px;
}

main .oops {
    font-size: 35pt;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 50px;
}

main .oops span {
    font-size: 22pt;
    font-weight: 450;
    line-height: 15pt;
}

main .help {
    font-size: 9pt;
    color: #ddd;
    font-weight: 500;
    margin-bottom: 10px;
}

main .links a {
    font-size: 7.2pt;
    color: #8ee;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 600;
}

main .right {
    margin-top: 11%;
    margin-right: 0%;
    margin-left: 0px;
    justify-content: flex-start;
}

main svg {
    width: 850px;
    height: 300px;
}